    - name: Install packages
      ansible.builtin.dnf:
        name: "{{ install_packages_for_centos }}"
        state: present
      when: ansible_facts['os_family'] == "RedHat"
      notify:
        - start httpd   
